<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
  </startup>
  <appSettings>
    <add key="RollingFile" value="c:\Logs\ajf.photomover.log.txt"/>
    <add key="PathList" value="F:\DCIM\;C:\Users\Anders\Dropbox\Camera Uploads\;C:\Users\Anders\Dropbox\Camera Uploads from Victoria\;C:\Users\Anders\Dropbox\Camera Uploads from Isabella\"/>
  </appSettings>
</configuration>
