<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
  </startup>
  <appSettings>
    <add key="PathList" value="c:\Zips\"/>
    <add key="PerformMove" value="0"/>
    <add key="TickSleep" value="1000"/>

    <add key="RunAsUserName" value=".\apprunner" />
    <add key="RunAsPassword" value="apprunner" />

    <add key="EsLoggingUrl" value="http://ajf-elastic-01:9200" />
    <add key="LogFileDirectory" value="c:\Logs\" />
    <add key="ReleaseNumber" value="1.0.0.0" />
    <add key="Environment" value="Dev" />
    <add key="ComponentName" value="Service" />
    <add key="SuiteName" value="Ajf.PhotoMover" />
    <add key="Description" value="Flytter fotos fra feks dropbox til NAS"/>

  </appSettings>
</configuration>
