<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
  </startup>
  <appSettings>
    <add key="PathList" value="F:\DCIM\;C:\Users\Anders\Dropbox\Camera Uploads\;C:\Users\Anders\Dropbox\Camera Uploads from Victoria\;C:\Users\Anders\Dropbox\Camera Uploads from Isabella\"/>
    <add key="PerformMove" value="0"/>

    <add key="EsLoggingUrl" value="http://ajf-elastic-01:9200" />
    <add key="LogFileDirectory" value="c:\Logs\" />
    <add key="ReleaseNumber" value="1.0.0.0" />
    <add key="Environment" value="Dev" />
    <add key="ComponentName" value="Service" />
    <add key="SuiteName" value="Ajf.PhotoMover" />
    <add key="Description" value="Flytter fotos fra feks dropbox til NAS"/>

  </appSettings>
</configuration>
